* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
}

.container {
    width: 1280px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    padding: 0px 32px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #F9F5FF;
}

.header .logo {
    display: flex;
    margin: 6px 0;
    align-items: center;
}

.header .logo__img {
    width: 32px;
}

.header .logo__title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.header-content {
    display: flex;
    /* margin-top: 18px;
    margin-bottom: 18px; */
    margin: 18px 0;
    /* outline: 1px solid red; */
}

.header .menu {
    display: flex;
    margin: 6px 0;
    align-items: center;
    margin-left: 40px;
    gap: 32px;
}

.header .menu div {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #667085;
    display: flex;
    align-items: center;
}

.header .menu div img {
    margin-left: 8px;
}

.header-nav {
    display: flex;
    margin: 18px 0;
}

.header-nav .button {
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.header-nav .button-primary {
    border: 1px solid #7F56D9;
    background: #7F56D9;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
}